<div class="todo-item" [class.completed]="todo.completed" (click)="onTodoClick()">
  <div class="check-box">
    <i class="material-icons">check</i>
  </div>

  <div class="todo-text">
    {{todo.text}}
  </div>

  <div class="todo-controls-box" (click)="$event.stopPropagation()">
    <div class="todo-control-button" appToolTip="Edit Todo" (click)="onEditClicked()">
      <i class="material-icons">edit</i>
    </div>
    <div class="todo-control-button" appToolTip="Delete Todo" (click)="onDeleteClicked()">
      <i class="material-icons">delete</i>
    </div>
  </div>
</div>
